# The following code is used to generate comparison table of features for Red Bull and other three brands. Stacked bar graph will be created by excel.

In [1]:
import pandas as pd

rb_df = pd.read_csv('feature red bull.csv')
mons_df = pd.read_csv('feature monster.csv')
c4_df = pd.read_csv('feature c4.csv')
alani_df = pd.read_csv('feature alani.csv')

In [2]:
alani_df

,Unnamed: 0,product,date,rating,title,reviews,combined,sentiment,sentiment_taste,sentiment_flavor,sentiment_price,sentiment_package,sentiment_value,sentiment_packaging
0,2,Amazon.com: Customer reviews: Alani Energy Drink,"April 18, 2024",1.0,wrong order get refund,wanted orange kiss new flavor given mimosa ins...,wrong order get refund wanted orange kiss new ...,0,NaN,-0.4176,NaN,NaN,NaN,NaN
1,4,Amazon.com: Customer reviews: Alani Energy Drink,"April 16, 2024",1.0,wrong item sent several time,love alani product ordered orange kiss flavor ...,wrong item sent several time love alani produc...,0,NaN,0.5994,NaN,NaN,NaN,NaN
2,6,Amazon.com: Customer reviews: Alani Energy Drink,"April 13, 2024",1.0,wrong order received x,ordered drink time received wrong flavor even ...,wrong order received x ordered drink time rece...,0,NaN,-0.8555,NaN,NaN,NaN,NaN
3,7,Amazon.com: Customer reviews: Alani Energy Drink,"April 13, 2024",1.0,second time sent wrong case,orange kiss flavor really good clean crisp tas...,second time sent wrong case orange kiss flavor...,0,0.5379,0.5379,NaN,NaN,NaN,NaN
4,8,Amazon.com: Customer reviews: Alani Energy Drink,"April 10, 2024",1.0,wrong flavor received x,ordered orange kiss three time say stock recei...,wrong flavor received x ordered orange kiss th...,0,NaN,-0.0000,NaN,-0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,492,Amazon.com: Customer reviews: Alani Energy Drink,"January 13, 2024",5.0,great taste slightly pricey though,great taste slightly pricey though,great taste slightly pricey though great taste...,1,0.8481,NaN,0.8481,NaN,NaN,NaN
308,494,Amazon.com: Customer reviews: Alani Energy Drink,"January 12, 2024",5.0,good stuff,delicious flavor,good stuff delicious flavor,1,NaN,0.7650,NaN,NaN,NaN,NaN
309,495,Amazon.com: Customer reviews: Alani Energy Drink,"January 11, 2024",5.0,flavor,love flavor,flavor love flavor,1,NaN,0.6369,NaN,NaN,NaN,NaN
310,496,Amazon.com: Customer reviews: Alani Energy Drink,"January 10, 2024",5.0,great flavor,looking boost want sugar shock drink,great flavor looking boost want sugar shock drink,1,NaN,0.6705,NaN,NaN,NaN,NaN
311,497,Amazon.com: Customer reviews: Alani Energy Drink,"January 10, 2024",5.0,delicious need,idk good travelling dont much taste sooo good ...,delicious need idk good travelling dont much t...,1,0.9169,NaN,NaN,NaN,NaN,NaN

In [3]:
mons_df['sentiment'].value_counts()

sentiment
1    196
0     77
Name: count, dtype: int64

In [6]:
rb_df['date'] = pd.to_datetime(rb_df['date'])
mons_df['date'] = pd.to_datetime(mons_df['date'])
c4_df['date'] = pd.to_datetime(c4_df['date'])
alani_df['date'] = pd.to_datetime(alani_df['date'])

In [7]:
average_scores = {
    'Brand': ['Red Bull', 'Monster Energy', 'C4', 'Alani'],
    'Taste': [
        rb_df[rb_df['date'].dt.year == 2024]['sentiment_taste'].mean(),
        mons_df[mons_df['date'].dt.year == 2024]['sentiment_taste'].mean(),
        c4_df[c4_df['date'].dt.year == 2024]['sentiment_taste'].mean(),
        alani_df[alani_df['date'].dt.year == 2024]['sentiment_taste'].mean()
    ],
    'Flavor': [
        rb_df[rb_df['date'].dt.year == 2024]['sentiment_flavor'].mean(),
        mons_df[mons_df['date'].dt.year == 2024]['sentiment_flavor'].mean(),
        c4_df[c4_df['date'].dt.year == 2024]['sentiment_flavor'].mean(),
        alani_df[alani_df['date'].dt.year == 2024]['sentiment_flavor'].mean()
    ],
    'Price': [
        rb_df[rb_df['date'].dt.year == 2024]['sentiment_price'].mean(),
        mons_df[mons_df['date'].dt.year == 2024]['sentiment_price'].mean(),
        c4_df[c4_df['date'].dt.year == 2024]['sentiment_price'].mean(),
        alani_df[alani_df['date'].dt.year == 2024]['sentiment_price'].mean()
    ],
    'Packaging': [
        rb_df[rb_df['date'].dt.year == 2024]['sentiment_packaging'].mean(),
        mons_df[mons_df['date'].dt.year == 2024]['sentiment_packaging'].mean(),
        c4_df[c4_df['date'].dt.year == 2024]['sentiment_packaging'].mean(),
        alani_df[alani_df['date'].dt.year == 2024]['sentiment_packaging'].mean()
    ],
    'Value': [
        rb_df[rb_df['date'].dt.year == 2024]['sentiment_value'].mean(),
        mons_df[mons_df['date'].dt.year == 2024]['sentiment_value'].mean(),
        c4_df[c4_df['date'].dt.year == 2024]['sentiment_value'].mean(),
        alani_df[alani_df['date'].dt.year == 2024]['sentiment_value'].mean()
    ],
    'Package': [
        rb_df[rb_df['date'].dt.year == 2024]['sentiment_package'].mean(),
        mons_df[mons_df['date'].dt.year == 2024]['sentiment_package'].mean(),
        c4_df[c4_df['date'].dt.year == 2024]['sentiment_package'].mean(),
        alani_df[alani_df['date'].dt.year == 2024]['sentiment_package'].mean()
    ]
}

scores_df_2024 = pd.DataFrame(average_scores)

scores_df_2024

            Brand     Taste    Flavor     Price  Packaging     Value   Package
0        Red Bull  0.536700  0.627286  0.681482   0.890800  0.890800 -0.153700
1  Monster Energy  0.510191  0.616898  0.691873   0.702042  0.702042  0.400775
2              C4  0.647664  0.775809  0.700973   0.899950  0.899950  0.055140
3           Alani  0.558318  0.623679  0.713130   0.891933  0.891933 -0.019838

In [8]:
average_scores = {
    'Brand': ['Red Bull', 'Monster Energy', 'C4', 'Alani'],
    'Taste': [
        rb_df[rb_df['date'].dt.year == 2023]['sentiment_taste'].mean(),
        mons_df[mons_df['date'].dt.year == 2023]['sentiment_taste'].mean(),
        c4_df[c4_df['date'].dt.year == 2023]['sentiment_taste'].mean(),
        alani_df[alani_df['date'].dt.year == 2023]['sentiment_taste'].mean()
    ],
    'Flavor': [
        rb_df[rb_df['date'].dt.year == 2023]['sentiment_flavor'].mean(),
        mons_df[mons_df['date'].dt.year == 2023]['sentiment_flavor'].mean(),
        c4_df[c4_df['date'].dt.year == 2023]['sentiment_flavor'].mean(),
        alani_df[alani_df['date'].dt.year == 2023]['sentiment_flavor'].mean()
    ],
    'Price': [
        rb_df[rb_df['date'].dt.year == 2023]['sentiment_price'].mean(),
        mons_df[mons_df['date'].dt.year == 2023]['sentiment_price'].mean(),
        c4_df[c4_df['date'].dt.year == 2023]['sentiment_price'].mean(),
        alani_df[alani_df['date'].dt.year == 2023]['sentiment_price'].mean()
    ],
    'Packaging': [
        rb_df[rb_df['date'].dt.year == 2023]['sentiment_packaging'].mean(),
        mons_df[mons_df['date'].dt.year == 2023]['sentiment_packaging'].mean(),
        c4_df[c4_df['date'].dt.year == 2023]['sentiment_packaging'].mean(),
        alani_df[alani_df['date'].dt.year == 2023]['sentiment_packaging'].mean()
    ],
    'Value': [
        rb_df[rb_df['date'].dt.year == 2023]['sentiment_value'].mean(),
        mons_df[mons_df['date'].dt.year == 2023]['sentiment_value'].mean(),
        c4_df[c4_df['date'].dt.year == 2023]['sentiment_value'].mean(),
        alani_df[alani_df['date'].dt.year == 2023]['sentiment_value'].mean()
    ],
    'Package': [
        rb_df[rb_df['date'].dt.year == 2023]['sentiment_package'].mean(),
        mons_df[mons_df['date'].dt.year == 2023]['sentiment_package'].mean(),
        c4_df[c4_df['date'].dt.year == 2023]['sentiment_package'].mean(),
        alani_df[alani_df['date'].dt.year == 2023]['sentiment_package'].mean()
    ]
}

scores_df_2023 = pd.DataFrame(average_scores)

scores_df_2023

            Brand     Taste    Flavor     Price  Packaging     Value   Package
0        Red Bull  0.705104  0.756948  0.637352   0.820529  0.820529 -0.083342
1  Monster Energy  0.640573  0.558443  0.516071   0.768450  0.768450  0.319820
2              C4  0.308208  0.553365  0.517110   0.426263  0.426263  0.183484
3           Alani  0.744319  0.468536  0.498691   0.924600  0.924600  0.121233

In [9]:
average_scores = {
    'Brand': ['Red Bull', 'Monster Energy', 'C4', 'Alani'],
    'Taste': [
        rb_df[rb_df['date'].dt.year == 2022]['sentiment_taste'].mean(),
        mons_df[mons_df['date'].dt.year == 2022]['sentiment_taste'].mean(),
        c4_df[c4_df['date'].dt.year == 2022]['sentiment_taste'].mean(),
        alani_df[alani_df['date'].dt.year == 2022]['sentiment_taste'].mean()
    ],
    'Flavor': [
        rb_df[rb_df['date'].dt.year == 2022]['sentiment_flavor'].mean(),
        mons_df[mons_df['date'].dt.year == 2022]['sentiment_flavor'].mean(),
        c4_df[c4_df['date'].dt.year == 2022]['sentiment_flavor'].mean(),
        alani_df[alani_df['date'].dt.year == 2022]['sentiment_flavor'].mean()
    ],
    'Price': [
        rb_df[rb_df['date'].dt.year == 2022]['sentiment_price'].mean(),
        mons_df[mons_df['date'].dt.year == 2022]['sentiment_price'].mean(),
        c4_df[c4_df['date'].dt.year == 2022]['sentiment_price'].mean(),
        alani_df[alani_df['date'].dt.year == 2022]['sentiment_price'].mean()
    ],
    'Packaging': [
        rb_df[rb_df['date'].dt.year == 2024]['sentiment_packaging'].mean(),
        mons_df[mons_df['date'].dt.year == 2024]['sentiment_packaging'].mean(),
        c4_df[c4_df['date'].dt.year == 2024]['sentiment_packaging'].mean(),
        alani_df[alani_df['date'].dt.year == 2024]['sentiment_packaging'].mean()
    ],
    'Value': [
        rb_df[rb_df['date'].dt.year == 2022]['sentiment_value'].mean(),
        mons_df[mons_df['date'].dt.year == 2022]['sentiment_value'].mean(),
        c4_df[c4_df['date'].dt.year == 2022]['sentiment_value'].mean(),
        alani_df[alani_df['date'].dt.year == 2022]['sentiment_value'].mean()
    ],
    'Package': [
        rb_df[rb_df['date'].dt.year == 2022]['sentiment_package'].mean(),
        mons_df[mons_df['date'].dt.year == 2022]['sentiment_package'].mean(),
        c4_df[c4_df['date'].dt.year == 2022]['sentiment_package'].mean(),
        alani_df[alani_df['date'].dt.year == 2022]['sentiment_package'].mean()
    ]
}

scores_df_2022 = pd.DataFrame(average_scores)

scores_df_2022

            Brand     Taste    Flavor     Price  Packaging     Value   Package
0        Red Bull  0.573218  0.862740  0.516280   0.890800  0.891000  0.350150
1  Monster Energy       NaN       NaN       NaN   0.702042       NaN       NaN
2              C4  0.503932  0.573979  0.534620   0.899950  0.842375  0.100040
3           Alani  0.669077  0.513155  0.818833   0.891933 -0.102700 -0.202511